.day-theme {
  background-color: #caf0f8;
  color: black;
}
body {
  font-family: "Roboto", sans-serif;
}

a {
  color: #3192bf;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 108, 0.08);
  border-radius: 16px;
  padding: 30px;
}

.weather-app-city {
  margin: 0;
  font-size: 45px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #fb5607;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}
.weather-app-temperature-container {
  display: flex;
}

.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
  display: inline-block;
}

.weather-app-unit {
  display: inline-block;
  margin-top: 6px;
  margin-left: 10px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  color: grey;
}

.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  opacity: 0.6;
}

.weather-forecast-icon {
  width: 52px;
  height: 52px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #fb5607;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

header {
  border-bottom: 1px solid #caf0f8;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: #d3f3f9;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-form-button {
  background: linear-gradient(to left, #0066ff 0%, #99ccff 100%);
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.celsius-temp,
.fahrenheit-temp {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  text-decoration: none;
}

.celsius-temp:hover,
.fahrenheit-temp:hover {
  text-decoration: underline;
}

.celsius-temp.active,
.fahrenheit-temp.active {
  /* Add active styles (font-weight, color, etc.) */
  font-weight: bold;
}

.night-theme {
  background-color: navy;
  color: whitesmoke;
}
.night-theme .weather-app {
  background: rgb(62, 26, 192);
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 108, 0.08);
  border-radius: 16px;
  padding: 30px;
}

.night-theme .search-form-button {
  background: linear-gradient(to right, #9999ff 30%, #000099 100%);
}
.night-theme .search-form-input {
  background-color: darkblue;
  color: whitesmoke;
}

.night-theme .weather-forecast {
  color: whitesmoke;
}

.night-theme .weather-forecast-temperatures {
  color: whitesmoke;
}

.night-theme .weather-app-data {
  color: whitesmoke;
}

.night-theme .weather-app-details {
  color: whitesmoke;
}

.night-theme .weather-forecast-date {
  color: whitesmoke;
}

.night-theme footer {
  color: whitesmoke;
}

button {
  justify-content: center;
  padding: 2px;
  margin-bottom: 5px;
}

footer {
  border-top: 1px solid #caf0f8;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
